
body{
    overflow-x: hidden;
}

button {
    background-color: blue;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 66, 209);
}

body{
    display: flex;
    flex-flow: column;
}

.leaked{
    display: flex;
    justify-content: space-around;
}

.ip-grabber{
    display: flex;
    flex-flow: column;
}








/* Popup container */
.popup {
    position: absolute;
    display: none;
    cursor: pointer;
    width: 100%;
    right: -350px;
}

